/* Colores */
:root {
    --background-color: #f4f4f9;
    --primary-color: #333;
    --accent-color: #0073e6;
    --menu-background: #333;
    --menu-text-color: #f4f4f9;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--primary-color);
    margin: 0;
}

header {
    background-color: var(--menu-background);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--menu-text-color);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--accent-color);
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: var(--accent-color);
}
